<style>
a{
color:orange;
}

</style>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><font color="white">Developo<font color="#ff4d4d">Tory</font></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/signup"><font color="white">Signup</font></a>
                </li>
                <li><a href="#/login"><font color="white">Login</font></a>
                </li>
                <li><a href="#/aboutus"><font color="white">About</font> </a>
                </li>
                <li><a href="#/faq"> <font color="white">FAQ</font></a>
                </li>
                <li><a href="#/contact"><font color="white">Contact</font></a>
                </li>
                </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
